@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "defaulttheme";
  default: true;
  prefersdark: true;
  color-scheme: "dark";

  --color-base-100: #292f36;
  --color-base-200: #1a1e23;
  --color-base-300: #43454d;
  --color-base-content: #ffffff;

  --color-primary: #12f7d6;

  --color-secondary: #98faec;
  --color-secondary-content: #1a1e23;

  --color-accent: #e54f26;
  --color-accent-content: #ffffff;

  --color-neutral: #0c73b8;
  --color-neutral-content: #ffffff;

  --color-info: #28a9e0;
  --color-info-content: #ffffff;

  --color-success: #e7a020;
  --color-success-content: #1a1e23;

  --color-warning: #e7a020;
  --color-warning-content: #292f36;

  --color-error: #e54f26;
  --color-error-content: #ffffff;

  --radius-selector: 0.5rem;
  --radius-field: 1rem;
  --radius-box: 0.25rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 2;
  --noise: 0.1;
  --background: "./whoop-bg.png";
  --font-sans: "Ubuntu", sans-serif;
  --font-mono: "IBM Plex Mono", monospace;
}

@layer base {
  body {
    @apply min-h-screen bg-base-100 text-base-content  overflow-x-hidden;
  }
}
@layer utilities {
  .page-padding {
    @apply mx-10 md:mx-[64px];
  }
}

.ibm-plex {
  font-family: "IBM Plex Mono", monospace;
}
.ibm-plex-mono {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-style: normal;
}
.ibm-plex-md {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 500;
  font-style: normal;
}

.ubuntu-light {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: normal;
}

body {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
  min-height: 100vh;
}

.ubuntu-medium {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.ubuntu-bold {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.page-heading {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--color-primary);

  font-size: 64px;
  line-height: 72px;
  letter-spacing: 0%;
  text-transform: capitalize;
}
.custom-btn {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
  transition: all 0.3s ease-in-out;
  padding: approx 0.5rem 1rem;
  color: var(--color-base-content);

  &:hover {
    color: var(--color-primary);
    transform: scale(1.05);
  }
}
.heading--primary {
  font-family: "Ubuntu", sans-serif;
  @apply mb-4 capitalize text-center hidden md:flex flex-col items-center justify-center xl:text-7xl 2xl:text-6xl  text-secondary font-extrabold tracking-tight;
}

.about-me {
  box-shadow: -4px -4px 2px 0px var(--color-primary);
  border: 4px solid;
  border-color: var(--color-base-content);
  border-radius: 160px 0 160px 0;
}

.links a {
  @apply flex gap-2  text-xs 2xl:text-base items-center;
}

.fx {
  @apply flex;
}

.heading-primary {
  @apply 2xl:text-6xl  xl:text-4xl capitalize;
}
.heading-primary span {
  line-height: 1.2;
  @apply inline-block;
}
.htag {
  @apply text-sm text-secondary lowercase;
}

.hero-descript {
  @apply items-start justify-start flex-col gap-4 xl:gap-2 text-start 2xl:text-[16px] xl:text-sm  flex;
}

.rel-card {
  position: relative;
  background-color: var(--color-base-300);
  border-radius: 50%;
  display: inline-block;
  width: 40px;
  height: 40px;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.37);
  &:hover {
    transform: scale(1.1);
  }
  svg {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 24px;
    height: 24px;
    fill: var(--color-base-content);
    transition: all 0.3s ease-in-out;
    &:hover {
      transform: translate(-50%, -50%) scale(1.2);
    }
  }
}
.stacks {
  @apply inline-flex flex-col  items-start justify-around bg-base-200 rounded-[80px] xl:px-5 xl:py-8 2xl:px-8 2xl:py-12;
}
.stacks p {
  @apply flex items-center gap-2 xl:gap-3 text-base xl:text-sm 2xl:text-lg;
}

.stats {
  @apply text-primary  text-3xl xl:text-4xl 2xl:text-5xl font-bold capitalize overflow-hidden;
}

.stats-descrpt {
  @apply text-base xl:text-sm capitalize;
}

.navbar .active {
  @apply border-r-2 text-primary border-l-2 border-t-2 text-xl  px-6 py-1 rounded-full;
}
